{% extends 'base.html' %} 

{% block content %}
    <style>
      .form_container {
        width: 90%;
        margin: 0 auto;
        padding-top: 70px;
      }
      .link textarea {
        height: 12vh !important;
      }
      .update {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
      }
      label {
        color: darkred;
      }
    </style>

    <div class="form_container">
        <form action='' method='POST' onsubmit="return false;" >{% csrf_token %}
        <div class="form-group">
          <label for="id_long_target">長期目標</label>
          {{ form.long_target }}
          <small class="text-muted form-text mb-5">
            具体的な数値などを書きましょう
          </small>
        </div>
        <div class="form-group">
          <label for="id_long_target">長期目標のためにできること</label>
          {{ form.long_target_summary }}
          <small class="text-muted mb-5 form-text">
            具体的に書きましょう
          </small>
        </div>
        <div class="form-group" style="width: 20vh;">
          <label for="id_long_target" style="width: 50vh;">長期目標の期日</label>
          {{ form.long_target_date }}
          <small class="text-muted mb-5 form-text" style="width: 50vh;">
            大会の日程などを書きましょう
          </small>
        </div>
        <div class="form-group link">
          <label for="id_long_target">長期目標のための参考動画</label>
          {{ form.long_target_link }}
          <small class="text-muted mb-5 form-text">
            こうなりたいと思うプレーの動画を見つけてきましょう。動画下の共有ボタンをクリックして、埋め込みリンクをコピーしてきてください。
          </small>
        </div>
        <div class="form-group" style="margin-bottom: 130px; width: 10vh;">
          <label for="id_long_target" style="width: 50vh;">参考動画の開始時間</label>
          {{ form.long_target_link_start }}
          <small class="text-muted mb-5 form-text" style="width: 50vh;">
            見たい動画の秒数を入力すると、その時間から自動再生されます
          </small>
        </div>
        <div class="form-group">
          <label for="id_long_target">中期目標</label>
          {{ form.middle_target }}
          <small class="text-muted mb-5 form-text">
            具体的な数値などを書きましょう
          </small>
        </div>
        <div class="form-group">
          <label for="id_long_target">中期目標のためにできること</label>
          {{ form.middle_target_summary }}
          <small class="text-muted mb-5 form-text">
            具体的に書きましょう
          </small>
        </div>
        <div class="form-group link" style="margin-bottom: 130px;">
          <label for="id_long_target">中期目標のための参考動画</label>
          {{ form.middle_target_link }}
          <small class="text-muted mb-5 form-text">
            こうなりたいと思うプレーの動画を見つけてきましょう。動画下の共有ボタンをクリックして、埋め込みリンクをコピーしてきてください。
          </small>
        </div>
        <div class="form-group">
          <label for="id_long_target">短期目標</label>
          {{ form.short_target }}
          <small class="text-muted mb-5 form-text">
            具体的な数値などを書きましょう
          </small>
        </div>
        <div class="form-group">
          <label for="id_long_target">短期目標のためにできること</label>
          {{ form.short_target_summary }}
          <small class="text-muted mb-5 form-text">
            具体的に書きましょう
          </small>
        </div>
        <div class="form-group link">
          <label for="id_long_target">短期目標のための参考動画</label>
          {{ form.short_target_link }}
          <small class="text-muted mb-5 form-text">
            こうなりたいと思うプレーの動画を見つけてきましょう。動画下の共有ボタンをクリックして、埋め込みリンクをコピーしてきてください。
          </small>
        </div>
        <div class="update">
          <input type='button' value='更新する' class="btn btn-outline-success" onclick="submit();" style="width: 30vh;">
        </div>
        <div class="update">
          <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">戻る</a>
        </div>
      </form>
    </div>
    
    <script>

      // const div = document.getElementById('target');
      // div.classList.add('green','blue');
      // fruit.forEach(element => console.log(element));

      const input = document.querySelectorAll('input');
      const textarea = document.querySelectorAll('textarea');

      input.forEach(el => el.classList.add("form-control"));
      textarea.forEach(el => el.classList.add("form-control"));

    </script>

{% endblock content %}