{% extends 'base.html' %} 

{% block header %}
  {% load static %} 
  <link href="{% static 'css/home_first.css' %}" rel="stylesheet">

  <div class="header__inner">
    <div class="logo item">
      <img src="{% static 'images/macho.png' %}" class="logo__img">
      <span class="logo__stay">&nbsp;Training</span>
      <span class="purple">Diary</span>
    </div>
    <nav class="header__nav">
      <ul class="header__ul">
        <li class="header__li item"><a href="http://fukuokasportstalentidproject.blogspot.com/2010/03/blog-post_4316.html" target="_blank" rel="noopener noreferrer">オリンピック強化選手ホームページ</a></li>
        <li class="header__li item diary"><a href="https://1.bp.blogspot.com/-3FZ1k9yqBpY/YSsJhBkrKUI/AAAAAAAALX4/kooOBy9ikyQItw8BJdA0jqLyMMAiCnTRgCLcBGAsYHQ/s1754/Jr.%25E6%2597%25A5%25E8%25AA%258C%2B%25E8%25A1%25A8.jpg" target="_blank" rel="noopener noreferrer">運動日誌(実物)</a></li>
      </ul>
    </nav>
  </div>

  <div class="hero" >
    <img src="{% static 'images/olympic.jpg' %}">
    <div class="hero__title">
      <span class="large">世界の舞台へ</span>
    </div>
  </div>

  {% for item in target %}
  <div class="card text-center">
    <a class = link href="{% url 't_update' item.pk %}"></a>
    <div class="card-header target">
      大会での達成目標(<span class="purple">長期</span>目標)
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ item.long_target }}</h4>
      <p class="card-text text-left">{{ item.long_target_summary | linebreaksbr }}</p>
      <!-- <div class="wrapper"> -->
        <!-- <iframe class="content" width="560" height="315" src="https://www.youtube.com/embed/eZA0AnSdbBI?autoplay=1&mute=1&start=25" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        {{ link_long | safe}}
      <!-- </div> -->
    </div>
    <div class="card-footer">
      大会日程:&nbsp;{{item.long_target_date |date:"n" }}月{{item.long_target_date |date:"j" }}日({{item.long_target_date |date:"D" }})まで残り<span class="purple">{{ time_delta }}</span>日
    </div>
  </div>

  <div class="card text-center">
    <a class = link href="{% url 't_update' item.pk %}"></a>
    <div class="card-header target">
      今月の達成目標(<span class="purple">中期</span>目標)
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ item.middle_target }}</h4>
      <p class="card-text text-left">{{ item.middle_target_summary | linebreaksbr }}</p>
      <!-- <div class="wrapper"> -->
        <!-- <iframe class="content" width="560" height="315" src="https://www.youtube.com/embed/ZOFO_MzZi50" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        {{ link_middle | safe}}
      <!-- </div> -->
    </div>
    <div class="card-footer">
      <!-- 期限:&nbsp;2月25日まで残り<span class="purple">32</span>日 -->
      気合い入れていきましょう!!
    </div>
  </div>

  <div class="card text-center">
    <a class = link href="{% url 't_update' item.pk %}"></a>
    <div class="card-header target">
      今週の達成目標(<span class="purple">短期</span>目標)
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ item.short_target }}</h4>
      <p class="card-text text-left">{{ item.short_target_summary | linebreaksbr }}</p>
      <!-- <div class="wrapper"> -->
        <!-- <iframe class="content" width="560" height="315" src="https://www.youtube.com/embed/ZOFO_MzZi50" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        {{ link_short | safe}}
      <!-- </div> -->
    </div>
    <div class="card-footer">
      頑張っていきましょう!!
    </div>
  </div>

  <script>
    const iframe = document.querySelectorAll('iframe');
    iframe.forEach(el => el.classList.add("content"));
  </script>
  {% endfor %}
{% endblock %} 


{% block content %} 
  {% load static %} 
  <link href="{% static 'css/home_second.css' %}" rel="stylesheet">

  <div class="title">
    <h2 class=" alert alert-warning">今週の運動日誌</h2>
  </div>

  <div class="card-deck">
    <div class="card-container">
    {% for item in training %}
    <div class="card bg-light mb-5 mb-5 text-center">
        <a href="{% url 'c_detail' item.pk %}" class="link"></a>
        <div class="card-header main">{{item.date |date:"n" }}月{{item.date |date:"j" }}日({{item.date |date:"D" }})</div>
        <div class="card-body">
          <h4 class="card-title">{{item.dairy_target}}</h4>
          <p class="card-text main text-left">{{item.dairy_target_summary | linebreaksbr }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item daily">運動時間の合計:&nbsp;{{item.training_time}}&nbsp;時間</li>
          <li class="list-group-item daily">体幹トレーニング:&nbsp;{{item.stability_time}}&nbsp;分</li>
          <li class="list-group-item daily">ストレッチ:&nbsp;{{item.stretch_time}}&nbsp;分</li>
          <li class="list-group-item daily">睡眠時間:&nbsp;{{item.sleeping_hours}}&nbsp;時間</li>
        </ul>
      </div>
    {% endfor %}
    </div>
  </div>

  {% for item in week %}
    <div class="card text-center mt-5">
      <a href="{% url 'w_update' item.pk %}" class="link"></a>
      <div class="card-header week">
        今週の振り返り
      </div>
      <div class="card-body">
        <h4 class="card-title">{{item.title}}</h4>
        <p class="card-text text-left">{{item.summary | linebreaksbr }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="chart-container" style="position: relative; max-width: 80%; max-height: 80%; margin: 0 auto;">
            <div class="graph_1">
              <canvas id="myChart_1" width="400" height="400"></canvas>
            </div>
            <div class="graph_2">
              <canvas id="myChart_2" width="400" height="400"></canvas>
            </div>
            <div class="graph_3">
              <canvas id="myChart_3" width="400" height="400"></canvas>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <script>
      const ctx_1 = document.getElementById('myChart_1').getContext('2d');
      const myChart_1 = new Chart(ctx_1, {
          type: 'line',
          data: {
              // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
              datasets: [{
                  label: '',
                  pointRadius: 5,
                  pointBackgroundColor: 'rgba(255, 99, 132, 1)',
                  // data: [12, 19, 3, 5, 2, 3],
                  data: {{ t_time_new }},
                  backgroundColor: [
                      'rgba(0, 0, 0, 0)',
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      // 'rgba(54, 162, 235, 1)',
                      // 'rgba(255, 206, 86, 1)',
                      // 'rgba(75, 192, 192, 1)',
                      // 'rgba(153, 102, 255, 1)',
                      // 'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 3
              }]
          },
          options: {

            legend: {
              display: false
            },

            title: {
                responsive: true,
                display: true,
                text: '今週の運動時間',
                fontSize: 26,
                fontColor: '#122',
                padding: 28,
                fontFamily: 'Kiwi Maru',
                fontStyle: 'normal',
            },

            maintainAspectRatio: false,

            scales: {
                y: {
                    beginAtZero: true,
                  },

                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: '運動時間 (h)',
                    fontSize: 25,
                    fontColor: '#122',
                    // fontStyle: 'thin',
                    fontFamily: 'Kiwi Maru',
                    // padding: 20,
                    // usePointStyle: True,
                    },
                  
                  ticks: {
                    // suggestedMax: 40,
                    suggestedMin: 0,
                    stepSize: 1,
                    fontSize: 23,
                    fontFamily: 'Kiwi Maru',
                    fontColor: '#122',
                  }
                }],

                xAxes: [{
                  scaleLabel: {
                    // display: true,
                    // labelString: '睡眠時間',
                    fontSize: 23,
                    fontColor: '#122',
                    fontStyle: 'middium',
                    fontFamily: 'Kiwi Maru',
                    // padding: 20,
                    // usePointStyle: True,
                    },
                  
                  ticks: {
                    // suggestedMax: 40,
                    // suggestedMin: 0,
                    // stepSize: 10,
                    fontSize: 23,
                    fontFamily: 'Kiwi Maru',
                    fontColor: '#122',
                  }
                }]
              }
          }
      });

      const ctx_2 = document.getElementById('myChart_2').getContext('2d');
      const myChart_2 = new Chart(ctx_2, {
          type: 'line',
          data: {
              // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
              datasets: [{
                  label: '',
                  pointRadius: 5,
                  pointBackgroundColor: 'rgba(153, 102, 255, 1)',
                  // data: [12, 19, 3, 5, 2, 3],
                  data: {{ stability_time_new }},
                  backgroundColor: [
                      'rgba(0, 0, 0, 0)',
                  ],
                  borderColor: [
                      // 'rgba(255, 99, 132, 1)',
                      // 'rgba(54, 162, 235, 1)',
                      // 'rgba(255, 206, 86, 1)',
                      // 'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      // 'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 3
              }]
          },
          options: {

            legend: {
              display: false
            },

            title: {
                responsive: true,
                display: true,
                text: '今週の体幹トレーニング',
                fontSize: 26,
                fontColor: '#122',
                padding: 28,
                fontFamily: 'Kiwi Maru',
                fontStyle: 'normal',
            },

            maintainAspectRatio: false,

            scales: {
                y: {
                    beginAtZero: true,
                  },

                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: '体幹トレーニング (min)',
                    fontSize: 25,
                    fontColor: '#122',
                    // fontStyle: 'thin',
                    fontFamily: 'Kiwi Maru',
                    // padding: 20,
                    // usePointStyle: True,
                    },
                  
                  ticks: {
                    // suggestedMax: 40,
                    suggestedMin: 0,
                    stepSize: 5,
                    fontSize: 23,
                    fontFamily: 'Kiwi Maru',
                    fontColor: '#122',
                  }
                }],

                xAxes: [{
                  scaleLabel: {
                    // display: true,
                    // labelString: '睡眠時間',
                    fontSize: 23,
                    fontColor: '#122',
                    fontStyle: 'middium',
                    fontFamily: 'Kiwi Maru',
                    // padding: 20,
                    // usePointStyle: True,
                    },
                  
                  ticks: {
                    // suggestedMax: 40,
                    // suggestedMin: 0,
                    // stepSize: 10,
                    fontSize: 23,
                    fontFamily: 'Kiwi Maru',
                    fontColor: '#122',
                  }
                }]
              }
          }
      });

      const ctx_3 = document.getElementById('myChart_3').getContext('2d');
      const myChart_3 = new Chart(ctx_3, {
          type: 'line',
          data: {
              // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
              datasets: [{
                  label: '',
                  pointRadius: 5,
                  pointBackgroundColor: 'rgba(75, 192, 192, 1)',
                  // data: [12, 19, 3, 5, 2, 3],
                  data: {{ s_time_new }},
                  backgroundColor: [
                      'rgba(0, 0, 0, 0)',
                  ],
                  borderColor: [
                      // 'rgba(255, 99, 132, 1)',
                      // 'rgba(54, 162, 235, 1)',
                      // 'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      // 'rgba(153, 102, 255, 1)',
                      // 'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 3
              }]
          },
          options: {

            legend: {
              display: false
            },

            title: {
                responsive: true,
                display: true,
                text: '今週の睡眠時間',
                fontSize: 26,
                fontColor: '#122',
                padding: 28,
                fontFamily: 'Kiwi Maru',
                fontStyle: 'normal',
            },

            maintainAspectRatio: false,

            scales: {
                y: {
                    beginAtZero: true,
                  },

                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: '睡眠時間 (h)',
                    fontSize: 25,
                    fontColor: '#122',
                    // fontStyle: 'thin',
                    fontFamily: 'Kiwi Maru',
                    // padding: 20,
                    // usePointStyle: True,
                    },
                  
                  ticks: {
                    // suggestedMax: 40,
                    suggestedMin: 0,
                    stepSize: 2,
                    fontSize: 23,
                    fontFamily: 'Kiwi Maru',
                    fontColor: '#122',
                  }
                }],

                xAxes: [{
                  scaleLabel: {
                    // display: true,
                    // labelString: '睡眠時間',
                    fontSize: 23,
                    fontColor: '#122',
                    fontStyle: 'middium',
                    fontFamily: 'Kiwi Maru',
                    // padding: 20,
                    // usePointStyle: True,
                    },
                  
                  ticks: {
                    // suggestedMax: 40,
                    // suggestedMin: 0,
                    // stepSize: 10,
                    // fontSize: 23,
                    fontSize: 23,
                    fontFamily: 'Kiwi Maru',
                    fontColor: '#122',
                  }
                }]
              }
          }
      });
      
    </script>
  {% endfor %}

  {% for item in staff %}
    <div class="card text-center mt-5">
      <a href="{% url 's_update' item.pk %}" class="link"></a>
      <div class="card-header" style="background-color: #21ff0024; ">
      <!-- gif用 -->
      <!-- <div class="card-header" style="background-color: #21ff0063; "> -->
        スタッフから
      </div>
      <div class="card-body">
        <h4 class="card-title">{{item.title}}</h4>
        <p class="card-text text-left">{{item.staff | linebreaksbr }}</p>
      </div>
    </div>
  {% endfor %}

{% endblock content %}