{% extends 'base.html' %} 

{% block header %}
  {% load static %} 
  <link href="{% static 'css/card_detail_first.css' %}" rel="stylesheet">
  <div class="detail">
    <div class="header__inner">
      <div class="logo item">
        <a href="{% url 'home' %}" class="link"></a>
        <img src="{% static 'images/macho.png' %}" class="logo__img">
        <span class="logo__stay">&nbsp;Training</span>
        <span class="purple">Diary</span>
      </div>
      <nav class="header__nav">
        <ul class="header__ul">
          <li class="header__li item"><a href="http://fukuokasportstalentidproject.blogspot.com/2010/03/blog-post_4316.html" target="_blank" rel="noopener noreferrer">オリンピック強化選手ホームページ</a></li>
          <li class="header__li item diary"><a href="https://1.bp.blogspot.com/-3FZ1k9yqBpY/YSsJhBkrKUI/AAAAAAAALX4/kooOBy9ikyQItw8BJdA0jqLyMMAiCnTRgCLcBGAsYHQ/s1754/Jr.%25E6%2597%25A5%25E8%25AA%258C%2B%25E8%25A1%25A8.jpg" target="_blank" rel="noopener noreferrer">運動日誌(実物)</a></li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %} 

{% block content %} 
  {% load static %} 
  <link href="{% static 'css/card_detail_second.css' %}" rel="stylesheet">
  <div class="card-container">
    <div class="card bg-light mb-5 mb-5 text-center">
      <div class="card-header main">{{object.date |date:"n" }}月{{object.date |date:"j" }}日({{object.date |date:"D" }})</div>
      <div class="card-body">
        <h5 class="card-title">{{object.dairy_target}}</h5>
        <p class="card-text main text-left">{{object.dairy_target_summary | linebreaksbr }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="font-size: 20px;">練習メニュー<p class="card-text main text-left" style="font-size: 1rem; margin-top: 5px;">{{object.dairy_target_menu | linebreaksbr }}</p></li>
        <li class="list-group-item">運動時間の合計:&nbsp;{{object.training_time}}&nbsp;時間</li>
        <li class="list-group-item">体幹トレーニング:&nbsp;{{object.stability_time}}&nbsp;分</li>
        <li class="list-group-item">ストレッチ:&nbsp;{{object.stretch_time}}&nbsp;分</li>
        <li class="list-group-item">睡眠時間:&nbsp;{{object.sleeping_hours}}&nbsp;時間</li>
      </ul>
    </div>
  </div>
  <div class="update">
    <a href="{% url 'c_update' object.pk %}" class="btn btn-outline-success" tabindex="-1" role="button" aria-disabled="true">編集画面へ</a>
  </div>
  <div class="update">
    <a href="{% url 'home' %}" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">戻る</a>
  </div>
{% endblock content %}